* {
  margin:0;
  padding:0;
}

body{
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

ul{
  display: grid;
  grid-template-columns: lfr;
}

.divv{
  display: flex;
}

li{
  list-style: none;
  display: grid;
  place-items: center;
}

.square{
  margin:0px;
  width: 75px;
  height: 75px;
}

#tog{
  margin: 10px 0px;
}