* {
  margin:0;
  padding:0;
}

body{
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

ul{
  display: grid;
  grid-template-columns: lfr;
}

.divv{
  display: flex;
}

li{
  list-style: none;
  display: grid;
  place-items: center;
}

.square{
  margin:1px;
  width: 75px;
  height: 75px;
}

#tog{
  margin: 10px 0px;
}

.allimg{
  width: 45px;
  position: relative;
  bottom: 5px;
}

footer {

  padding: 15px 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 30px;
}

footer p {
  margin: 5px 0;
}

footer ol {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

footer ol li {
  display: inline-block;
  margin: 0 10px;
}
